extends layout 

block content 
    .row.page-header 
        .row 
            .col-md-6.col-sm-12
                h1= title 
    .row  
        .col-md-6.col-sm-12 
            p Lock9r was created to help people find places to sit fown and get a bit of work done. <br /> <br /> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Cum, ullam quia! Illo nam dolorum dicta, tempore eum facere optio quia quis velit earum vero excepturi quos mollitia voluptatibus natus. Porro? <br /><br /> Lorem ipsum dolor, sit amet consectetur adipisicing elit. Deserunt quos doloribus itaque impedit odio repellendus quidem assumenda, fugit delectus, aut nisi ipsum sint nam neque aliquid voluptas eum tenetur fugiat Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat, fuga consequatur sapiente perspiciatis culpa quibusdam, labore ipsum, quis quidem cum voluptates a similique in esse id voluptatem autem ipsam! Ullam?
