extends layout 

block content 
    .row.page-header
        .row.page-header 
            .col-lg-12 
                h1 Review StarCups 
            .row
                .col-xs-12.col-md-6 
                    form.form-horizontal(action="/location", method="get", role="form")
                        form-group 
                        label.cos-xs-10.col-sm-2.contreol-label (for="rating") Name